<% content_for :main_nav do %>
    <h3 class="title">Click & Sit</h3>
    <%= link_to "Entrés", "#starter" %>
    <%= link_to "Plats", "#main" %>
    <%= link_to "Desserts", "#dessert" %>
    <%= link_to "Formules", "#course" %>
    <%= link_to "Boissons", "#drink" %>
<% end %>
<section>
    <div class="row">
        <a id="starter" class="anchor"></a>
        <h3 class="title align -center">Entrés</h3>
        <%= cell(:product, collection: @starters) %>
    </div>
    <div class="row  align -center">
        <a id="main" class="anchor"></a>
        <h3 class="title">Plats</h3>
        <h4 class="subtitle">Créer votre plat à votre goût en choisissant vos aliments</h4>
        <a class="btn">Créer mon plat <%= fa_icon "plus" %></a>
        <a class="btn -alt">Surprenez-moi <%= fa_icon "random" %></a>
        <div class="col-12">
            <div class="zone">
                <header>
                    <h5 class="title align -center">Base</h5>
                </header>
                <div class="col-4 align -center">
                    <i class="icon"><%= inline_svg "beef.svg" %></i>
                    <h6 class="title -compact">Boeuf</h6>
                </div>
                <div class="col-4 align -center">
                    <i class="icon"><%= inline_svg "poultry.svg" %></i>
                    <h6 class="title -compact">Volaille</h6>
                </div>
                <div class="col-4 align -center">
                    <i class="icon"><%= inline_svg "shrimp.svg" %></i>
                    <h6 class="title -compact">Gambas</h6>
                </div>
            </div>
            <div class="zone">
                <header>
                    <h5 class="title align -center">Méthodes de cuisson</h5>
                </header>
                <div class="col-4 align -center">
                    <i class="icon"><%= inline_svg "papillote.svg" %></i>
                    <h6 class="title -compact">Papillote</h6>
                </div>
                <div class="col-4 align -center">
                    <i class="icon"><%= inline_svg "wok.svg" %></i>
                    <h6 class="title -compact">Wok</h6>
                </div>
                <div class="col-4 align -center">
                    <i class="icon"><%= inline_svg "fusio.svg" %></i>
                    <h6 class="title -compact">Fusio</h6>
                </div>
            </div>
            <div class="zone scroll-x -auto">
                <header>
                    <h5 class="title align -center">Garnitures</h5>
                </header>
                <table>
                    <thead>
                        <th></th>
                        <th>Papillote</th>
                        <th>Fusion</th>
                        <th>Wok</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Garniture</th>
                            <td>Légumes cuit sous vide (pomme de terre, carotte, poivron rouge, oignon, céleri branche)</td>
                            <td>Potatoes de pommes de terre, patate douce & céleri, parfumées aux herbes de Provence</td>
                            <td>Nouilles chinoise, légumes & sauce soja</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="zone scroll-x -auto">
                <header>
                    <h5 class="title align -center">Marinades</h5>
                </header>
                <table>
                    <thead>
                        <th></th>
                        <th>Boeuf</th>
                        <th>Volaille</th>
                        <th>Gambas</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Papillote</th>
                            <td>Marinade sauce saté & paprika</td>
                            <td>Marinade lait de coco & curry</td>
                            <td>Marinade gingembre & citron vert</td>
                        </tr>
                        <tr>
                            <th>Fusio</th>
                            <td>Marinade huile d’olive, thym & ail</td>
                            <td>Marinade huile d’olive & jus de citron vert</td>
                            <td>Marinade huile d’olive & Martini rouge</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 align -center">
                <a class="btn">Créer mon plat <%= fa_icon "plus" %></a>
                <a class="btn -alt">Surprenez-moi <%= fa_icon "random" %></a>
            </div>
        </div>
    </div>
    <div class="row">
        <a id="dessert" class="anchor"></a>
        <h3 class="title align -center">Desserts</h3>
        <%= cell(:product, collection: @desserts) %>
    </div>
</section>
