<section>
    <div class="row">
        <div class="col-12">
            <h1>Modifier un service:</h1>

            <%= form_for :service, :url => admin_service_path(@service), method: 'put' do |form| %>

                <p>
                    <%= form.label :start_time %><br>
                    <div class="select -multiple">
                        <%= form.datetime_select :start_time %>
                    </div>
                </p>
                <p>
                    <%= form.label :end_time %><br>
                    <div class="select -multiple">
                        <%= form.datetime_select :end_time %>
                    </div>
                </p>
                <p>
                    <%= form.label :seats %><br>
                    <%= form.number_field :seats %>
                </p>

                <p>
                    <%= form.button class: "btn" do %>
                        Enregistrer <%= fa_icon "save" %>
                    <% end %>
                </p>
                <% end %>
        </div>
    </div>
</section>
