<section>
    <div class="row">
        <div class="col-12">
            <h1>Ajouter un Plat:</h1>

            <%= form_for :service, :url => '/admin/services' do |form| %>

                <p>
                    <%= form.label :start_time %><br>
                    <%= form.datetime_select :start_time, start_year: Time.current.year, default: 3.days.from_now %>
                </p>
                <p>
                    <%= form.label :end_time %><br>
                    <%= form.datetime_select :end_time, start_year: Time.current.year, default: 3.days.from_now %>
                </p>

                <p>
                    <%= form.submit %>
                </p>
                <% end %>
        </div>
    </div>
</section>