<section>
    <div class="row">
        <div class="col-12">
            <h1>Ajouter un Service:</h1>

            <%= form_for :service, :url => '/admin/services' do |form| %>

                <p>
                    <%= form.label :start_time %><br>
                    <div class="select -multiple">
                        <%= form.datetime_select :start_time, start_year: Time.current.year, default: @meal.start_time %>
                    </div>
                </p>
                <p>
                    <%= form.label :end_time %><br>
                    <div class="select -multiple">
                        <%= form.datetime_select :end_time, start_year: Time.current.year, default: @meal.end_time %>
                    </div>
                </p>
                <p>
                    <%= form.label :seats %><br>
                    <%= form.number_field :seats %>
                </p>

                    <%= form.hidden_field :meal_id, value: @meal.id %>

                <p>
                    <%= form.button class: "btn" do %>
                        Créer <%= fa_icon "plus" %>
                    <% end %>
                </p>
                <% end %>
        </div>
    </div>
</section>
