<section>
    <div class="row">

        <div class="col-12">
            <table class="zone">
                <tr>
                    <!--<th>Email</th>-->
                    <th>Nom de commande</th>
                    <th>Nombre de personnes</th>
                    <th>Service (début - fin)</th>
                    <th>Action</th>
                </tr>

                <% @orders.each do |order| %>
                    <tr>
                        <!--<td>
                            <%= order.email %>
                        </td> -->
                        <td>
                            <h6 class="title -compact"><%= order.name %></h6>
                            <% if order.group.orders.count > 1 %>
                                <div class="text -tiny">
                                    Commande groupée avec:
                                    <% order.group.orders.each do |o| %>
                                        <ul>
                                            <div>- <%= o.name %> <a href="<%= admin_order_path(o) %>" title="voir" class="float -r"><%= fa_icon "eye" %></a></div>
                                        </ul>
                                    <% end %>
                                </div>
                            <% end %>
                        </td>
                        <td>
                            <%= order.number_persons %>
                        </td>
                        <td>
                            <%= order.service.start_time.strftime("%H:%M") %> - <%= order.service.end_time.strftime("%H:%M") %>
                        </td>
                        <td>
                            <a href="/admin/orders/<%= order.id %>" class="btn-subtle">Voir commande <%= fa_icon "eye" %></a>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</section>
