<div class="image">
    <div class="img">
        <img src="http://hitek.fr/img/actualite/2017/09/26/it-anime-sewer-scene-concept-art-by-mike-anderson-1022961.jpg?unsync">
    </div>
    <h6 class="subtle align -center">Plat</h6>
</div>
<div class="content">
    <h5 class="title -compact"><%= model.name %></h5>
    <div class="details">
        <div class="item cooking">
            <h6>Mode de cuisson</h6>
            <p><%= @cooking.name %></p>
        </div>
        <% if @roasting %>
            <div class="item roasting">
                <p></p>
                <h6>Cuisson</h6>
                <p><%= I18n.t @roasting %></p>
            </div>
        <% end %>
        <div class="item garniture">
            <h6>Garnitures</h6>
            <p><%= @cooking.ingredient %></p>
        </div>
        <% if @marinade %>
            <div class="item marinade">
                <h6>Marinade</h6>
                <p><%= @marinade.description %></p>
            </div>
        <% end %>
    </div>
</div>
