<div class="cart-product dish">
    <div class="img">
        <img src="https://ih1.redbubble.net/image.343720960.4451/flat,800x800,075,f.u1.jpg">
    </div>
    <h6><%= model.name %></h6>
    <div class="cooking">
        <h6><%= @cooking.name %></h6>
    </div>
    <% if @roasting %>
        <div class="roasting">
            <h6><%= @roasting %></h6>
        </div>
    <% end %>
    <div class="garniture">
        <h6>Garnitures</h6>
        <%= @cooking.ingredient %>
    </div>
    <% if @marinade %>
        <div class="marinade">
            <h6>Marinade</h6>
            <%= @marinade.description %>
        </div>
    <% end %>
</div>
