<div class="cart">
    <div class="col-12  align -center">
        <h5 class="subtitle"><%= I18n.t("menu.cart.empty")%></h5>

        <%= link_to add_menu_to_order_path(), class: "btn-subtle" do %>
            <%= I18n.t("menu.cart.add_dish") %>
        <% end %>
        <%= link_to orders_path() + "#course", class: "btn-subtle" do %>
            <%= I18n.t("menu.cart.add_formula") %>
        <% end %>
    </div>
</div>
