<header>
    <h6 class="title -compact"><%= I18n.t("menu.cart.my_cart") %> </h6>
    <label class="btn-subtle -alt -icon" for="display-cart"><%= fa_icon "close" %></label>
</header>
<div class="cart">
    <% @order.formulas.each_with_index do |f, i| %>
        <input type="checkbox" checked class="formula-switch hidden" id="formula-<%= i %>">
        <div id="formula-id-<%= f.id %>"class="formula -tiny">
            <% f.get_products.each do |k, v| %>
                <div class="cart-product <%= k %>">
                    <%= cell(:cart, v, formula: f).(k) %>
                </div>
            <% end %>
            <div class="action-bar">
                <%= link_to order_path(@order, formula: f), method: :delete, data: {confirm: I18n.t("menu.cart.confirm")}, title: I18n.t("menu.cart.confirm_title"), class: "btn-subtle -alt -icon no-close-menu", remote: true do %>
                    <%= I18n.t("menu.cart.delete") %> <%= fa_icon "trash" %>
                <% end %>
                <label for="formula-<%= i %>" class="deploy btn-subtle float -r" href=""><%= I18n.t("menu.cart.details") %> <%= fa_icon "angle-up" %></label>
                <span class="price">
                    <%= number_to_currency(f.get_total, locale: :fr) %>
                </span>
            </div>
        </div>
    <% end %>
    <div class="col-12 align -center">
        <%= link_to add_menu_to_order_path(), class: "btn-subtle" do %>
            <%= I18n.t("menu.cart.add_dish") %>
        <% end %>
        <%= link_to orders_path() + "#course", class: "btn-subtle" do %>
            <%= I18n.t("menu.cart.add_formula") %>
        <% end %>
    </div>
</div>
<footer>
    <h6 class="title -compact"><%= I18n.t("menu.cart.total") %>  <span class="total price"><%= number_to_currency(@order.get_price, locale: :fr) %></span></h6>
    <%= link_to order_booking_path(@order), class: "btn", id: "validate_order" do %>
        <%= I18n.t("menu.cart.validate") %> <%= fa_icon "check" %>
    <% end %>
</footer>
