<header>
    <h6 class="title -compact">Mon Panier</h6>
    <label class="btn-subtle -alt -icon" for="display-cart"><%= fa_icon "close" %></label>
</header>
<div class="cart">
    <% @order.formulas.each_with_index do |f, i| %>
        <input type="checkbox" checked class="formula-switch hidden" id="formula-<%= i %>">
        <div id="formula-id-<%= f.id %>"class="formula -tiny">
            <% f.get_products.each do |k, v| %>
                <div class="cart-product <%= k %>">
                    <%= cell(:cart, v, formula: f).(k) %>
                </div>
            <% end %>
            <div class="action-bar">
                <span class="price">
                    10,32€
                </span>
                <a class="btn-subtle" href="">Modifier</a>
                <%= link_to order_path(@order, formula: f), method: :delete, data: {confirm: "Êtes-vous sûr?"}, title:"Suprimer ce produit du panier", class: "btn-subtle -alt -icon", remote: true do %>
                    <%= fa_icon "trash" %>
                <% end %>
                <label for="formula-<%= i %>" class="deploy btn-subtle float -r" href="">Détails <%= fa_icon "angle-up" %></label>
            </div>
        </div>
    <% end %>
    <div class="col-12 align -center">
        <%= link_to add_menu_to_order_path(), class: "btn-subtle" do %>
            Ajouter un plat
        <% end %>
        <%= link_to orders_path() + "#course", class: "btn-subtle" do %>
            Ajouter une formule
        <% end %>
    </div>
</div>
<footer>
    <h6 class="title -compact">Total: <span class="total price">1212,12€</span></h6>
    <%= link_to order_booking_path(@order), class: "btn", data: {confirm: "Vous ne pourrez plus modifier votre commande aprés cette étape, êtes-vous sûr de vouloir continuer ?"} do %>
        Valider la commande <%= fa_icon "check" %>
    <% end %>
</footer>
