<div class="cart">
    <% @order.formulas.each_with_index do |f, i| %>
        <input type="checkbox" checked class="formula-switch hidden" id="formula-<%= i %>">
        <div class="formula -tiny">
            <% f.get_products.each do |k, v| %>
                <div class="cart-product <%= k %>">
                    <%= cell(:cart, v, formula: f).(k) %>
                </div>
            <% end %>
            <div class="action-bar">
                <span class="price">
                    <%= 10.32 %>€
                </span>
                <a class="btn-subtle" href="">Modifier <%= fa_icon "edit" %></a>
                <a class="btn-subtle -alt" href="">Supprimer <%= fa_icon "close" %></a>
                <label for="formula-<%= i %>" class="deploy btn-subtle float -r" href="">Détails <%= fa_icon "angle-up" %></label>
            </div>
        </div>
    <% end %>
</div>
