<header>
    <h6 class="title -compact">Mon Panier</h6>
</header>
<div class="cart">
    <% @order.formulas.each_with_index do |f, i| %>
        <input type="checkbox" checked class="formula-switch hidden" id="formula-<%= i %>">
        <div class="formula -tiny">
            <% f.get_products.each do |k, v| %>
                <div class="cart-product <%= k %>">
                    <%= cell(:cart, v, formula: f).(k) %>
                </div>
            <% end %>
            <div class="action-bar">
                <span class="price">
                    <%= 10.32 %>€
                </span>
                <a class="btn-subtle" href="">Modifier</a>
                <a class="btn-subtle -alt" href="">Supprimer</a>
                <label for="formula-<%= i %>" class="deploy btn-subtle float -r" href="">Détails <%= fa_icon "angle-up" %></label>
            </div>
        </div>
    <% end %>
</div>
<footer>
    <h6 class="title -compact">Total: <span class="price">1212.12€</span></h6>
    <a class="btn">Valider la commande <%= fa_icon "check" %></a>
</footer>
