<section class="-darker -m-no-pad">
    <div class="row">
        <div class="col-8 -centered text">
            <h2 class="subtitle"><%= raw I18n.t("orders.access.title_html") %></h2>
            <p><%= I18n.t("orders.access.join_us") %></p>
            <%= form_tag order_access_path, class: "zone", method: :post do %>
                <div class="col-12 align -center">
                    <h3 class="subtitle"><%= I18n.t("orders.access.entry_code") %></h3>
                    <input type="text" name="access" placeholder="<%= I18n.t("orders.access.entry_placeholder") %>"/>
                    <button type="submit" class="btn"><%= I18n.t("orders.access.validate") %> <%= fa_icon "check" %></button>
                </div>
            <% end %>
            <p class="float -l"><%= I18n.t("orders.access.discover") %></p>
            <%= link_to orders_path, class: "btn-subtle float -r" do %>
                <%= I18n.t("orders.access.menu") %> <%= fa_icon "book" %>
            <% end %>
        </div>
    </div>
</section>
