<section class="-darker">
    <div class="row align -center">
        <%= form_tag order_booking_path, method: :patch do %>
            <h2 class="title -alt">Valider votre commande</h2>
            <div class="col-12 booking">
                <h3 class="subtitle">Quel nom voulez-vous donner à votre commande ?</h3>
                <div class="booking-form-item">
                    <input type="text" class="" placeholder="Votre nom" name="order[name]">
                    <p class="text -tiny">Utilisez ce nom pour récupérer votre commande</p>
                    <br />
                </div>
            </div>
            <div class="col-12 booking">
                <h3 class="subtitle">Commandez-vous seul ou en groupe ?</h3>
                <div class="booking-form-item">
                    <input id="service_seul" type="radio" name="grouped?" class="hidden" checked>
                    <label for="service_seul">Seul</label>
                    <input id="service_groupe" type="radio" name="grouped?" class="hidden">
                    <label for="service_groupe">Groupe</label>
                    <div id="group">
                        <p class="subtitle">Combien de personnes mangent avec vous ?</p>
                        <div class="select">
                            <select id="monselect" name="order[number_persons]">
                                <% (2..10).each do |i| %>
                                    <option value="<%= i %>"><%= i %> personnes</option>
                                <% end %>
                            </select>
                             <%= fa_icon "angle-down" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 booking">
                <h3 class="subtitle">À quelle heure voulez-vous manger ?</h3>
                <div class="booking-form-item">
                    <% @services.each do |s| %>
                        <input  id="service_<%= s.id %>" value="<%= s.id %>" type="radio" name="order[service_id]" class="hidden">
                        <label for="service_<%= s.id %>"><%= s.start_time.strftime("%H:%M") %></label>
                    <% end %>
                </div>
            </div>
            <div class="col-12 booking">
                <%= button_tag type: :submit, class: "btn -big" do %>
                    Valider ma commande <%= fa_icon "check" %>
                <% end %>
            </div>
        <% end %>
    </div>
</section>
