<% content_for :main_nav do %>
    <h3 class="title">Click & Sit</h3>
    <%= link_to "Entrées", "#starter" %>
    <%= link_to "Plats", "#main" %>
    <%= link_to "Desserts", "#dessert" %>
    <%= link_to "Formules", "#course" %>
    <%= link_to "Click & Sit", "#click-sit" %>
<% end %>
<section>
    <div class="row">
        <a id="starter" class="anchor"></a>
        <h3 class="title align -center">Entrées</h3>
        <%= cell(:product, presentation: true, collection: @starters) %>
    </div>
</section>
<section class="-darker">
    <div class="row align -center">
        <a id="main" class="anchor"></a>
        <h3 class="title">Plats</h3>
        <h4 class="subtitle">Créer votre plat, à votre goût, en choisissant vos aliments.</h4>
        <div class="col-12">
            <div class="zone">
                <header>
                    <h5 class="title align -center">Base</h5>
                </header>
                <% @dishes.each do |d| %>
                    <div class="col-4 align -center">
                        <i class="icon"><%= inline_svg d.name_en.downcase + ".svg" %></i>
                        <h6 class="title -compact"><%= d.name %></h6>
                    </div>
                <% end %>
            </div>
            <div class="zone">
                <header>
                    <h5 class="title align -center">Méthodes de cuisson</h5>
                </header>
                <% @bakings.each do |b| %>
                    <div class="col-4 align -center">
                        <i class="icon"><%= inline_svg b.name_en.downcase + ".svg" %></i>
                        <h6 class="title -compact"><%= b.name %></h6>
                    </div>
                <% end %>
            </div>
            <div class="zone">
                <header>
                    <h5 class="title align -center">Garnitures</h5>
                </header>
                <div class="scroll-x -auto">
                    <table>
                        <thead>
                            <th></th>
                            <% @bakings.each do |b| %>
                                <th><%= b.name %></th>
                            <% end %>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Garniture</th>
                                <% @bakings.each do |b| %>
                                    <td><%= b.ingredient %></td>
                                <% end %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="zone">
                <header>
                    <h5 class="title align -center">Marinades</h5>
                </header>
                <div class="scroll-x -auto">
                    <table>
                        <thead>
                            <th></th>
                            <% @dishes.each do |d| %>
                                <th><%= d.name %></th>
                            <% end %>
                        </thead>
                        <tbody>
                            <% @bakings.each do |b| %>
                                <% unless b.marinades.blank? %>
                                    <tr>
                                        <th><%= b.name %></th>
                                        <% @dishes.each do |d| %>
                                            <td><%= @marinades.find_by(baking: b, dish: d).description %></td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <a id="dessert" class="anchor"></a>
        <h3 class="title align -center">Desserts</h3>
        <%= cell(:product, presentation: true, collection: @desserts) %>
    </div>
</section>
<section class="-darker">
    <div class="row align -center -m-no-pad">
        <a id="course" class="anchor"></a>
        <h3 class="title">Formules</h3>
        <div class="formula-container">
            <div class="formula">
                <h5 class="title">Entrée & Plat</h5>
                <p>Créez votre plat et choisissez une de nos entrées.</p>
            </div>
            <div class="formula -wine">
                <h5 class="title"><%= fa_icon "glass" %> Variation Vin*</h5>
                <p>Deux verres de <strong>vin</strong></p>
            </div>
        </div>
        <div class="formula-container">
            <div class="formula">
                <h5 class="title">Plat & Dessert</h5>
                <p>Créez votre plat et choisissez un de nos desserts.</p>
            </div>
            <div class="formula -wine">
                <h5 class="title"><%= fa_icon "glass" %> Variation Vin*</h5>
                <p>Deux verres de <strong>vin</strong></p>
            </div>
        </div>
        <div class="formula-container">
            <div class="formula">
                <h5 class="title">Entrée, Plat & Dessert</h5>
                <p>Créez votre plat et choisissez une de nos entrées ainsi qu'un des desserts.</p>
            </div>
            <div class="formula -wine">
                <h5 class="title"><%= fa_icon "glass" %> Variation Vin*</h5>
                <p>Deux verres de <strong>vin</strong> et un <strong>cocktail</strong></p>
            </div>
        </div>
    </div>
    <div class="row align -center">
        <br/>
        <h5 class="wine">* Notre sommelier vous conseillera sur place ses meilleurs vins pour accompagner vos choix</h5>
    </div>
</section>
<section>
    <div class="row align -center">
        <a id="click-sit" class="anchor"></a>
        <h3 class="title">Click & Sit</h3>
        <p class="subtitle"><strong>Click & Sit</strong> vous permet de commander sur notre site et venir manger votre commande prête, sur place.</p>
        <p>Commander pour un groupe ou spécifier le nom de commande de vos amis pour manger ensemble</p>
        <br/>
        <br/>
        <a class="btn" href="<%= order_access_path %>">Click & Sit <%= fa_icon "shopping-basket" %></a>
        <strong>Accès restreint</strong>
        <p>Si aucun code ne vous a été transmis et que vous souhaitez vivre l'expérience <strong>Cook Me Up</strong>,<br/>retrouvez nous à notre stand sur le <strong>salon Égast</strong></p>
    </div>
</section>
