<% content_for :main_nav do %>
    <h3 class="title">Click & Sit:</h3>
    <%= link_to "Formules", "#course" %>
    <%= link_to "Entrées", "#starter" %>
    <%= link_to "Plats", "#main" %>
    <%= link_to "Desserts", "#dessert" %>
<% end %>

<% content_for :main_action do %>
    <%= cell(:cart, @order).(:display) %>
<% end %>

<section>
    <div class="row align -center">
        <p class="subtitle"><strong>Click & Sit</strong> vous permet de commander et venir déguster vos plats préparés à l'avance.</p>
        <p>Commandez pour un groupe ou spécifiez le nom de commande de vos amis pour manger ensemble</p>
    </div>
</section>
<section class="-darker">
    <div class="row align -center -m-no-pad">
        <a id="course" class="anchor"></a>
        <h3 class="title">Formules</h3>
        <div class="formula-container">
            <div class="formula -wine">
                <h5 class="title"><%= fa_icon "glass" %> Entrée, Plat & Vin</h5>
                <p>Deux verres de <strong>vin</strong>*</p>
                <!--<span class="price"><%= number_to_currency(@course_sdw.price, locale: :fr) %></span>-->
                <%= link_to add_menu_to_order_path(@course_sdw), class: "btn-subtle" do %>
                    Ajouter
                <% end %>
                <%= link_to add_menu_to_order_path(@course_sdw, random: true), title: "Suprenez-moi", class: "btn-subtle -icon -alt" do %>
                    <%= fa_icon "random" %>
                <% end %>
            </div>
            <div class="formula">
                <h5 class="title">Entrée & Plat</h5>
                <p>Créez votre plat et choisissez une de nos entrées.</p>
                <!--<span class="price"><%= number_to_currency(@course_sd.price, locale: :fr) %></span>-->
                <%= link_to add_menu_to_order_path(@course_sd), class: "btn-subtle" do %>
                    Ajouter
                <% end %>
                <%= link_to add_menu_to_order_path(@course_sd, random: true), title: "Suprenez-moi", class: "btn-subtle -icon -alt" do %>
                    <%= fa_icon "random" %>
                <% end %>
            </div>
        </div>
        <div class="formula-container">
            <div class="formula -wine">
                <h5 class="title"><%= fa_icon "glass" %> Plat, Dessert & Vin</h5>
                <p>Deux verres de <strong>vin</strong>*</p>
                <!--<span class="price"><%= number_to_currency(@course_ddw.price, locale: :fr) %></span>-->
                <%= link_to add_menu_to_order_path(@course_ddw), class: "btn-subtle" do %>
                    Ajouter
                <% end %>
                <%= link_to add_menu_to_order_path(@course_ddw, random: true), title: "Suprenez-moi", class: "btn-subtle -icon -alt" do %>
                    <%= fa_icon "random" %>
                <% end %>
            </div>
            <div class="formula">
                <h5 class="title">Plat & Dessert</h5>
                <p>Créez votre plat et choisissez un de nos desserts.</p>
                <!--<span class="price"><%= number_to_currency(@course_dd.price, locale: :fr) %></span>-->
                <%= link_to add_menu_to_order_path(@course_dd), class: "btn-subtle" do %>
                    Ajouter
                <% end %>
                <%= link_to add_menu_to_order_path(@course_dd, random: true), title: "Suprenez-moi", class: "btn-subtle -icon -alt" do %>
                    <%= fa_icon "random" %>
                <% end %>
            </div>
        </div>
        <div class="formula-container">
            <div class="formula -wine">
                <h5 class="title"><%= fa_icon "glass" %> Entrée, Plat, Dessert & Vin</h5>
                <p>Deux verres de <strong>vin</strong> et un <strong>cocktail</strong>*</p>
                <!--<span class="price"><%= number_to_currency(@course_sddw.price, locale: :fr) %></span>-->
                <%= link_to add_menu_to_order_path(@course_sddw), class: "btn-subtle" do %>
                    Ajouter
                <% end %>
                <%= link_to add_menu_to_order_path(@course_sddw, random: true), title: "Suprenez-moi", class: "btn-subtle -icon -alt" do %>
                    <%= fa_icon "random" %>
                <% end %>
            </div>
            <div class="formula">
                <h5 class="title">Entrée, Plat & Dessert</h5>
                <p>Créez votre plat et choisissez une de nos entrées ainsi qu'un des desserts.</p>
                <!--<span class="price"><%= number_to_currency(@course_sdd.price, locale: :fr) %></span>-->
                <%= link_to add_menu_to_order_path(@course_sdd), class: "btn-subtle" do %>
                    Ajouter
                <% end %>
                <%= link_to add_menu_to_order_path(@course_sdd, random: true), title: "Suprenez-moi", class: "btn-subtle -icon -alt" do %>
                    <%= fa_icon "random" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row align -center">
        <br/>
        <h5 class="wine">* Notre sommelier vous conseillera sur place ses meilleurs vins pour accompagner vos choix</h5>
    </div>
</section>
<section>
    <div class="row">
        <a id="starter" class="anchor"></a>
        <h3 class="title align -center">Entrées</h3>
        <%= cell(:product, collection: @starters, id_template: @course_starter) %>
    </div>
</section>
<section class="-darker">
    <div class="row align -center">
        <a id="main" class="anchor"></a>
        <h3 class="title">Plats</h3>
        <h4 class="subtitle">Créer votre plat, à votre goût, en choisissant vos aliments.</h4>
        <div class="col-12 align -center">
            <a class="btn" href="<%= add_menu_to_order_path(@course_d) %>">Créer mon plat <%= fa_icon "plus" %></a>
            <a class="btn -alt" href="<%= add_menu_to_order_path(@course_d, random: true) %>">Surprenez-moi <%= fa_icon "random" %></a>
        </div>
        <div class="col-12">
            <div class="zone">
                <header>
                    <h5 class="title align -center">Base</h5>
                </header>
                <% @dishes.each do |d| %>
                    <div class="col-4 align -center">
                        <i class="icon"><%= inline_svg d.name_en.downcase + ".svg" %></i>
                        <h6 class="title -compact"><%= d.name %> <span class="price"><%= number_to_currency(d.price, locale: :fr) %></span></h6>
                    </div>
                <% end %>
            </div>
            <div class="zone">
                <header>
                    <h5 class="title align -center">Méthodes de cuisson</h5>
                </header>
                <% @bakings.each do |b| %>
                    <div class="col-4 align -center">
                        <i class="icon"><%= inline_svg b.name_en.downcase + ".svg" %></i>
                        <h6 class="title -compact"><%= b.name %></h6>
                    </div>
                <% end %>
            </div>
            <div class="zone">
                <header>
                    <h5 class="title align -center">Garnitures</h5>
                </header>
                <div class="scroll-x -auto">
                    <table>
                        <thead>
                            <th></th>
                            <% @bakings.each do |b| %>
                                <th><%= b.name %></th>
                            <% end %>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Garniture</th>
                                <% @bakings.each do |b| %>
                                    <td><%= b.ingredient %></td>
                                <% end %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="zone">
                <header>
                    <h5 class="title align -center">Marinades</h5>
                </header>
                <div class="scroll-x -auto">
                    <table>
                        <thead>
                            <th></th>
                            <% @dishes.each do |d| %>
                                <th><%= d.name %></th>
                            <% end %>
                        </thead>
                        <tbody>
                            <% @bakings.each do |b| %>
                                <% unless b.marinades.blank? %>
                                    <tr>
                                        <th><%= b.name %></th>
                                        <% @dishes.each do |d| %>
                                            <td><%= @marinades.find_by(baking: b, dish: d).description %></td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 align -center">
                <a class="btn" href="<%= add_menu_to_order_path(@course_d) %>">Créer mon plat <%= fa_icon "plus" %></a>
                <a class="btn -alt" href="<%= add_menu_to_order_path(@course_d, random: true) %>">Surprenez-moi <%= fa_icon "random" %></a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <a id="dessert" class="anchor"></a>
        <h3 class="title align -center">Desserts</h3>
        <%= cell(:product, collection: @desserts, id_template: @course_dessert) %>
    </div>
</section>
