<section>
    <div class="row">

        <h3 class="title align -center"><%= I18n.t("orders.show.my_order") %></h3>
        <div class="col-3 details">
            <div class="item">
                <h6><%= I18n.t("orders.show.order_name") %></h6>
                <%= @order.name.gsub(/.{#{@order.name.length < 4 ? @order.name.length : @order.name.length - 4}}$/, '****') %>
            </div>
            <div class="item">
                <h6><%= I18n.t("orders.show.linked_email") %></h6>
                <%= @order.email.gsub(/.{0,4}@/, '****@') %>
            </div>
            <div class="item">
                <h6><%= I18n.t("orders.show.order_for") %></h6>
                <p><%= @order.service.start_time.strftime("%H:%M - %d/%m/%Y") %></p>
            </div>
            <% if @order.number_persons > 1 %>
                <div class="item">
                    <h6><%= I18n.t("orders.show.person_number") %></h6>
                    <%= @order.number_persons %>
                </div>
            <% else %>
                <div class="item">
                    <h6><%= I18n.t("orders.show.person_number") %></h6>
                    <p><%= I18n.t("orders.show.alone_order") %></p>
                </div>
            <% end %>
            <% if @order.group.orders.count > 1 %>
                <div class="item">
                    <h6><%= I18n.t("orders.show.grouped") %></h6>
                    <% @order.group.orders.each do |o| %>
                        <ul>
                            <p><%= o.name %></p>
                        </ul>
                    <% end %>
                </div>
            <% end %>
            <hr>
            <div class="item">
                <h6><%= I18n.t("orders.show.contact") %></h6>
                <br/>
                <a class="btn-subtle" target="_blank" href="mailto:cookmeupstartup@gmail.com"><%= I18n.t("orders.show.send_mail") %><%= fa_icon "at" %></a>
                <br/>
                <br/>
                <a class="btn-subtle" target="_blank" href="https://www.facebook.com/StartUpcookmeup/"><%= I18n.t("orders.show.contact_fb") %><%= fa_icon "facebook" %></a>
            </div>
        </div>
        <div class="col-9">
            <%= cell(:cart, @order).(:show_admin) %>
        </div>
    </div>
</section>
