<a href="https://www.cookmeup.restaurant"><img src="<%= image_url "logo128.png", host: "https://www.cookmeup.restaurant" %>" alt="Logo de Cook Me Up" title="logo"></a><br/>
<h2 style="color: #eb1f4f;"><%= I18n.t("mailer.order.title") %> "<%= @order.name %>"</h2>
<p><%= I18n.t("mailer.order.par_1") %> <strong><%= @order.service.start_time.strftime("%H\h%M") %></strong> <%= I18n.t("mailer.order.par_1bis") %></p>
<p><%= I18n.t("mailer.order.par_2") %></p>
<p>
    <%= raw I18n.t("mailer.order.address_html") %>
</p>
<p><%= I18n.t("mailer.order.resume") %> <a style="border-radius: .25em; padding: 0.5em; text-decoration: none; color: #FFFFFF; display: inline-block; background: #eb1f4f; font-weight: bold; text-transfrom: uppercase;" href="<%= order_url(id: @order, host: 'https://www.cookmeup.restaurant') %>"><%= I18n.t("mailer.order.see_order") %></a></p>
<hr>
<p><%= I18n.t("mailer.order.contact") %><a style="color: #eb1f4f;" href="mailto:cookmeupstartup@gmail.com">cookmeupstartup@gmail.com</a><%= I18n.t("mailer.order.contact_fb") %> <a style="color: #eb1f4f;" href="https://www.facebook.com/StartUpcookmeup/">https://www.facebook.com/StartUpcookmeup/</a></p>
<hr>
<p><%= I18n.t("mailer.order.par3") %> <a style="color: #eb1f4f;" href="https://www.cookmeup.restaurant">https://www.cookmeup.restaurant</a></p>
