<section>
    <div class="row">
        <div class="col-12">
            <h1>Ajouter un Plat:</h1>

            <%= form_for :dessert, :url => admin_dessert_path(@dessert), method: 'put' do |form| %>
                <p>
                    <%= form.label :name_fr %><br>
                        <%= form.text_field :name_fr %>
                </p>
                <p>
                    <%= form.label :name_en %><br>
                        <%= form.text_field :name_en %>
                </p>
                <p>
                    <%= form.label :description_fr %><br>
                        <%= form.text_field :description_fr %>
                </p>
                <p>
                    <%= form.label :description_en %><br>
                        <%= form.text_field :description_en %>
                </p>

                <p>
                    <%= form.label :price %><br>
                        <%= form.number_field :price, step: 0.01 %>
                </p>
                <p>
                    <%= form.label :img_url %><br>
                        <%= form.text_field :img_url %>
                </p>

                <p>
                    <%= form.submit %>
                </p>
                <% end %>
        </div>
    </div>