<section>
    <div class="row">

        <div class="col-12">
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>

                <% @desserts.each do |dessert| %>
                    <tr>
                        <td>
                            <%= dessert.name_translations['fr'] %>
                        </td>
                        <td>
                            <%= dessert.description_translations['fr'] %>
                        </td>
                        <td>
                            <%= dessert.price %>
                        </td>
                        <td>
                            <img src="<%= dessert.img_url %>" alt="">
                        </td>
                        <td>
                            <a href="/admin/dessertes/<%= dessert.id %>">Edit</a>
                            <a href="/admin/dessertes/<%= dessert.id %>" data-method="delete" rel="nofollow">delete</a>
                        </td>
                    </tr>
                    <% end %>
            </table>
        </div>
    </div>
</section>