<section>
    <div class="row">

        <div class="col-12">
            <div class="zone">
                <div class="scroll-x -auto">
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>

                        <% @desserts.each do |dessert| %>
                            <tr>
                                <td>
                                    <%= dessert.name_fr %>
                                </td>
                                <td>
                                    <%= dessert.description_fr %>
                                </td>
                                <td>
                                    <%= number_to_currency(dessert.price, locale: :fr) %>
                                </td>
                                <td>
                                    <img src="<%= dessert.img_url %>" alt="">
                                </td>
                                <td>
                                    <a href="/admin/desserts/<%= dessert.id %>/edit">Edit</a>
                                    <a href="/admin/desserts/<%= dessert.id %>" data-method="delete" rel="nofollow">delete</a>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
