<div class="add-formula starter">
    <header>
        <h5 class="title -compact -faint"><%= I18n.t("menu.starter.title") %>:</h5>
        <h5 class="choice"><%= @starters.first.name %></h5>
    </header>
    <div class="item">
        <% @starters.each do |s| %>
            <%= @f.radio_button :starter, s.id, :checked => (s == @starter) %>
            <label for="formula_starter_<%= s.id %>">
                <div class="img">
                    <%= image_tag s.img_url %>
                </div>
                <h6><%= s.name %></h6>
            </label>
        <% end %>
    </div>
</div>
