<div class="add-formula buttons">
    <div class="item">
        <%= @f.button class: "btn float -r" do %>
            <%= I18n.t("menu.formula.button") %> <%= fa_icon "plus" %>
        <% end %>
        <%= link_to orders_path, class: "btn -alt" do %>
            <%= I18n.t("menu.formula.return") %> <%= fa_icon "chevron-left" %>
        <% end %>
    </div>
</div>
