<section>
    <div class="row">
        <div class="col-12">
            <h1>Ajouter un Plat:</h1>

            <%= form_for :meal, :url => admin_meal_path(@meal), :action => 'put' do |form| %>

                <p>
                    <%= form.label :start_time %><br>
                        <%= form.datetime_select :start_time %>
                </p>
                <p>
                    <%= form.label :end_time %><br>
                        <%= form.datetime_select :end_time %>
                </p>


                <p>
                    <%= form.submit %>
                </p>
                <% end %>
        </div>
    </div>
</section>