<section>
    <div class="row">
        <div class="col-12">
            <div class="zone">
                <div class="scroll-x -auto">
                    <table>
                        <tr>
                            <th><%= I18n.t("admin.meals.begin") %></th>
                            <th><%= I18n.t("admin.meals.end") %></th>
                            <th><%= I18n.t("admin.action") %></th>
                        </tr>

                        <% @meals.each do |meal| %>
                            <tr>
                                <td>
                                    <%= meal.start_time.strftime("%A %d %B %H:%M") %>
                                </td>
                                <td>
                                    <%= meal.end_time.strftime("%A %d %B %H:%M") %>
                                </td>
                                <td>

                                    <a href="/admin/meals/<%= meal.id %>/edit" class="btn-subtle"><%= I18n.t("admin.meals.change_time") %></a> <br>
                                    <a href="/admin/meals/<%= meal.id %>" class="btn-subtle"><%= I18n.t("admin.meals.see_services") %></a> <br>
                                    <a href="/admin/meals/<%= meal.id %>" data-method="delete" class="btn-subtle" rel="nofollow"><%= fa_icon "trash" %><%= I18n.t("admin.delete") %></a> <br>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
        <a href="<%= new_admin_meal_path %>" class="btn"><%= fa_icon "plus" %><%= I18n.t("admin.meals.add") %></a> <br>
    </div>
</section>
