<section>
    <div class="row">

        <div class="col-12 zone">
            <table>
                <tr>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Action</th>
                </tr>

                <% @meals.each do |meal| %>
                    <tr>
                        <td>
                            <%= meal.start_time.strftime("%A %d %B %H:%M") %>
                        </td>
                        <td>
                            <%= meal.end_time.strftime("%A %d %B %H:%M") %>
                        </td>
                        <td>

                            <a href="/admin/meals/<%= meal.id %>/edit" class="btn-subtle">Changer les horaires</a> <br>
                            <a href="/admin/meals/<%= meal.id %>" class="btn-subtle">Voir les services</a> <br>
                            <a href="/admin/meals/<%= meal.id %>" data-method="delete" class="btn-subtle" rel="nofollow"><%= fa_icon "trash" %> Supprimer</a> <br>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <a href="<%= new_admin_meal_path %>" class="btn"><%= fa_icon "plus" %> Ajouter une plage d'ouverture</a> <br>
    </div>
</section>
