<section>
    <div class="row">
        <div class="col-12">
            <h1><%= I18n.t("admin.meals.add") %></h1>

            <%= form_for :meal, :url => '/admin/meals' do |form| %>

                <p>
                    <%= form.label :start_time %><br>
                    <div class="select -multiple"><%= form.datetime_select :start_time, start_year: Time.current.year, default: 3.days.from_now %></div>
                </p>
                <p>
                    <%= form.label :end_time %><br>
                    <div class="select -multiple"><%= form.datetime_select :end_time, start_year: Time.current.year, default: 3.days.from_now %></div>
                </p>

                <p>
                    <%= form.button class: "btn" do %>
                        <%= I18n.t("admin.create") %> <%= fa_icon "plus" %>
                    <% end %>
                </p>
            <% end %>
        </div>
    </div>
</section>
