<section>
    <div class="row">
        <div class="col-12">
            <div class="zone">
                <div class="scroll-x -auto">
                    <table>
                        <tr>
                            <th><%= I18n.t("admin.meals.begin") %></th>
                            <th><%= I18n.t("admin.meals.end") %></th>
                            <th><%= I18n.t("admin.action") %></th>
                        </tr>

                        <% @services.each do |service| %>
                            <tr>
                                <td>
                                    <%= service.start_time.strftime("%A %d %B %H:%M") %>
                                </td>
                                <td>
                                    <%= service.end_time.strftime("%A %d %B %H:%M") %>
                                </td>
                                <td>
                                    <a href="/admin/services/<%= service.id %>/edit" class="btn-subtle"><%= I18n.t("admin.meals.change_time") %></a>
                                    <a href="/admin/services/<%= service.id %>" data-method="delete" rel="nofollow" class="btn-subtle"><%= fa_icon "trash" %><%= I18n.t("admin.delete") %></a>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
        <a href="<%= new_admin_meal_service_path(@meal) %>" class="btn"><%= fa_icon "plus" %><%= I18n.t("admin.service.add") %></a> <br>
    </div>
</section>
