<section>
    <div class="row">
        <div class="col-12">
            <table class="zone">
                <tr>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Action</th>
                </tr>

                <% @services.each do |service| %>
                    <tr>
                        <td>
                            <%= service.start_time.strftime("%A %d %B %H:%M") %>
                        </td>
                        <td>
                            <%= service.end_time.strftime("%A %d %B %H:%M") %>
                        </td>
                        <td>
                            <a href="/admin/services/<%= service.id %>/edit" class="btn-subtle">Changer les horaires</a>
                            <a href="/admin/services/<%= service.id %>" data-method="delete" rel="nofollow" class="btn-subtle"><%= fa_icon "trash" %> Supprimer</a>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <a href="<%= new_admin_meal_service_path(@meal) %>" class="btn"><%= fa_icon "plus" %> Ajouter un service</a> <br>
    </div>
</section>
