<section class="head" id="home">
    <div class="row">
    </div>
</section>
<section class="head" id="home">
    <div class="row">
        <%= cell(:product, "test") %>
        <%= cell(:product, "test") %>
        <%= cell(:product, "test").(:menu) %>
        <%= cell(:product, "test").(:tiny) %>
        <%= cell(:product, "test").(:tiny) %>
        <%= cell(:product, "test").(:tiny) %>
        <%= cell(:product, "test").(:tiny) %>
        <%= cell(:product, "test") %>
        <%= cell(:product, "test") %>
        <%= cell(:product, "test") %>
        <%= cell(:product, "test") %>
    </div>
</section>
