<% content_for :main_action do %>
    <%= link_to orders_path, class: "btn" do %>
        <%= I18n.t("page.menu") %> <%= fa_icon "book" %>
    <% end %>
<% end %>
<section class="head" id="home">
    <div class="row">
        <%= image_tag "logo-white.png" %>
        <h5 class="title"><%= I18n.t("slogan") %></h5>
        <a class="btn -white" href="<%= orders_path %>"><%= I18n.t("page.menu") %> <%= fa_icon "book" %></a>
        <a class="btn -white -alt" href="#concept"><%= I18n.t("buttons.more_full") %> <%= fa_icon "info" %></a>
        <hr>
        <a class="btn -white" href="<%= order_access_path %>"><%= I18n.t("app_name") %> *<%= fa_icon "shopping-basket" %></a>
        <p>*<%= I18n.t("buttons.tooltip") %></p>
    </div>
</section>
<section class="-border-bottom">
    <a id="history" class="anchor"></a>
    <div class="row">
        <div class="col-8 -centered text -padded">
            <h2 class="title align -center"><%= I18n.t("home.history.title") %></h2>
            <p>
                <%= raw(I18n.t("home.history.p1_html")) %>
            </p>
            <p>
                <%= raw(I18n.t("home.history.p2_html")) %>
            </p>
            <div class="img">
                <%= image_tag "team.jpg" %>
            </div>
            <p>
                <%= raw(I18n.t("home.history.p3_html")) %>
            </p>
            <p>
                <%= raw(I18n.t("home.history.p4_html")) %>
            </p>
            <p>
                <%= raw(I18n.t("home.history.p5_html")) %>
            </p>
        </div>
    </div>
</section>
<section class="-border-bottom">
    <a id="concept" class="anchor"></a>
    <div class="row">
        <div class="col-4">
            <div class="img -m-hide"><%= image_tag "fusio.jpg" %></div>
        </div>
        <div class="col-4">
            <div class="img -m-full"><%= image_tag "papi.jpg" %></div>
        </div>
        <div class="col-4">
            <div class="img -m-hide"><%= image_tag "wok.jpg" %></div>
        </div>
    </div>
    <div class="row align -center">
        <div class="col-3 -big-gutter align -center">
            <div class="img"><%= image_tag "logo.png" %></div>
        </div>
        <div class="col-9 -big-gutter">
            <h2 class="title"><%= raw(I18n.t("home.concept.title")) %></h2>
            <h4 class="subtitle -img">
                <%= raw(I18n.t("home.concept.subtitle")) %>
            </h4>
            <p>
                <%= raw(I18n.t("home.concept.p1_html")) %>
            </p>
            <br/>
            <p>
                <%= raw(I18n.t("home.concept.p2_html")) %>
            </p>
            <br/>
            <p>
                <%= raw(I18n.t("home.concept.p3_html")) %>
            </p>
            <br/>
            <p>
                <%= raw(I18n.t("home.concept.p4_html")) %>
            </p>
            <br/>
            <p>
                <%= raw(I18n.t("home.concept.p5_html")) %>
            </p>
        </div>
    </div>
</section>
<section class="-border-bottom">
    <a id="menu" class="anchor"></a>
    <div class="row">
        <h2 class="title align -center"><%= raw(I18n.t("home.menu.title")) %></h2>
        <h3 class="subtitle align -center"><%= raw(I18n.t("home.menu.subtitle")) %></h3>
        <div class="faded-zone">
            <%= cell(:product, collection: @starters, presentation: true).(:tiny) %>
        </div>
        <div class="align -center">
            <a class="btn" href="<%= orders_path %>"><%= raw(I18n.t("buttons.menu")) %><%= fa_icon "book" %></a>
            <a class="btn -alt" href="<%= orders_path %>#course"><%= raw(I18n.t("buttons.formula")) %><%= fa_icon "edit" %></a>
        </div>
    </div>
</section>
<section class="-border-bottom">
    <a id="participate" class="anchor"></a>
    <div class="row">
        <h2 class="title align -center"><%= raw(I18n.t("home.support.title")) %></h2>
        <div class="col-6">
            <div class="text text-icon">
                <%= fa_icon "heart" %>
                <h3 class="title -compact"><%= raw(I18n.t("home.support.left.title")) %></h3>
                <p>
                    <%= raw(I18n.t("home.support.left.p1_html")) %>
                </p>
                <p>
                    <%= raw(I18n.t("home.support.left.p2_html")) %>
                </p>
                <p>
                    <%= raw(I18n.t("home.support.left.p3_html")) %>
                </p>
                <p>
                    <%= raw(I18n.t("home.support.left.p4_html")) %>
                </p>
                <p>
                    <%= raw(I18n.t("home.support.left.p5_html")) %>
                </p>
                <%= inline_svg "kkbb.svg" %>
                <p></p>
                <a class="btn" href="https://www.kisskissbankbank.com/cook-me-up-un-restaurant-ephemere-cree-par-des-etudiants-et-bien-plus">
                    <%= raw(I18n.t("buttons.support")) %> <%= fa_icon "child" %>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="text-icon">
                <%= fa_icon "facebook" %>
                <h3 class="title -compact"><%= raw(I18n.t("home.support.right.title")) %></h3>
                <div class="align -m-center">
                    <div class="fb-page" data-href="https://www.facebook.com/StartUpcookmeup/" data-tabs="timeline" data-small-header="false" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/StartUpcookmeup/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/StartUpcookmeup/">Cook Me Up</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <a id="team" class="anchor"></a>
    <div class="row">
        <div class="col-10 -centered">
            <h2 class="title align -center"><%= raw(I18n.t("home.team.title")) %></h2>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "cutlery" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team1.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team1.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team1.p2_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-cooking.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "briefcase" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team2.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team2.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team2.p2_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-direction.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "glass" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team3.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team3.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team3.p2_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team3.p3_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-bar.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "coffee" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team4.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team4.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team4.p2_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-snack.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "address-card" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team5.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team5.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team5.p2_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team5.p3_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-rh.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "area-chart" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team6.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team6.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team6.p2_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-money.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "clipboard" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team7.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team7.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team7.p2_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img -shadow">
                        <%= image_tag "team-direction2.jpg" %>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "desktop" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team8.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team8.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team8.p2_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team8.p3_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-info.jpg" %>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "spoon" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team9.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team9.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team9.p2_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team9.p3_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-patisserie.jpg" %>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "rocket" %>
                        <h3 class="title -compact"><%= raw(I18n.t("home.team.team10.title")) %></h3>
                        <p>
                            <%= raw(I18n.t("home.team.team10.p1_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team10.p2_html")) %>
                        </p>
                        <p>
                            <%= raw(I18n.t("home.team.team10.p3_html")) %>
                        </p>
                    </div>
                </div>
                <div class="col-6 align -m-center">
                    <div class="img -shadow">
                        <%= image_tag "team-marketing.jpg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="-darker">
    <a id="partners" class="anchor"></a>
    <div class="row align -center">
        <h2 class="title"><%= raw I18n.t("home.partner.title") %></h2>
        <div class="partners">
            <a class="partner" target="_blank" href="https://www.eberhardt-pro.fr/">
                <%= image_tag "eberhardt.png" %>
            </a>
            <a class="partner" target="_blank" href="http://www.ecotel.fr/">
                <%= image_tag "ecotel.png" %>
            </a>
            <a class="partner -tiny"  target="_blank" href="http://www.sapam.fr/">
                <%= image_tag "sapam.png" %>
            </a>
            <a class="partner" target="_blank" href="https://www.jobeline.com/">
                <%= image_tag "jobeline.png" %>
            </a>
            <a class="partner" target="_blank" href="https://www.vega-direct.com/">
                <%= image_tag "vega.png" %>
            </a>
            <a class="partner -tiny" target="_blank" href="http://quatuhore.fr/WP/">
                <%= image_tag "vega-qu.gif" %>
            </a>
            <a class="partner" target="_blank" href="https://www.bragard.com/fr/">
                <%= inline_svg "bragard.svg" %>
            </a>
            <a class="partner" target="_blank" href="http://www.france-boissons.fr/">
                <%= image_tag "france-boissons.png" %>
            </a>
            <a class="partner" target="_blank" href="http://lycee-hotelier-adumas.fr/">
                <%= image_tag "alexandre-dumas.png" %>
            </a>
            <a class="partner" target="_blank" href="http://www.supinfo.com/">
                <%= image_tag "supinfo-strasbourg.png" %>
            </a>
            <a class="partner" target="_blank" href="http://www.panibois.fr/">
                <%= image_tag "panibois.png" %>
            </a>
            <div class="partner -tiny">
                <%= image_tag "winneck.jpg" %>
            </div>
            <a class="partner" target="_blank" href="http://www.lyceegutenberg.net/">
                <%= image_tag "gutenberg.jpg" %>
            </a>
            <a class="partner" target="_blank" href="https://www.linkedin.com/company/euroxport-sas">
                <%= image_tag "euroexport.jpg" %>
            </a>
            <a class="partner" target="_blank" href="http://www.huber-verdereau.com">
                <%= image_tag "huber.jpg" %>
            </a>
            <a class="partner" target="_blank" href="http://www.reck.fr">
                <%= inline_svg "reck.svg" %>
            </a>
            <a class="partner -tiny" target="_blank" href="https://www.rentiz.com">
                <%= image_tag "rentiz.jpg" %>
            </a>
            <a class="partner" target="_blank" href="http://www.petitforestier.com/fr/fr_fr">
                <%= image_tag "petit-forestier.jpg" %>
            </a>
            <a class="partner -tiny" target="_blank" href="http://rh-multiservices.fr">
                <%= image_tag "rhproprete.svg" %>
            </a>
        </div>
    </div>
</section>

<div id="fb-root"></div>
<script async defer>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
