<% content_for :main_nav do %>
    <%= link_to "Histoire", "#history" %>
    <%= link_to "Concept", "#concept" %>
    <%= link_to "Carte", "#menu" %>
    <%= link_to "Participez", "#participate" %>
    <%= link_to "Équipe", "#team" %>
    <%= link_to "Partenaires", "#partners" %>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="head" id="home">
    <div class="row">
        <h1 class="title">Cook Me Up</h1>
        <h5 class="title">1 produit, 3 cuissons, 1000 saveurs</h5>
        <a class="btn -white" href="#">Click & Sit <%= fa_icon "shopping-basket" %></a>
        <a class="btn -white -alt" href="#concept">En Savoir Plus <%= fa_icon "info" %></a>
    </div>
</section>
<section class="-border-bottom">
    <a id="history" class="anchor"></a>
    <div class="row">
        <div class="col-8 -centered text -padded">
            <h2 class="title align -center">Notre Histoire</h2>
            <p>
                Ayant pu découvrir &#171; L’Avenue des Gourmets &#187; en 2016, &#171; L’Eater National &#187; en 2014 ou encore &#171; Le S &#187; en 2012 pour les plus anciens élèves du lycée hôtelier Alexandre Dumas, avons eu pour la plupart, l’envie de nous lancer à notre tour.
            </p>
            <p>
                Nous sommes 19 étudiants de 2ème année BTS en Hôtellerie-Restauration et avons la chance de créer notre propre Start’Up. Après avoir élu les différents membres de chaque poste, nous nous sommes attelés à la définition de notre concept. C’est ce qui caractérise notre entreprise, qui nous différencie sur le salon Egast, salon regroupant tous les professionnels de l’Hôtellerie-Restauration.
                Nous sommes fiers de vous présenter &#171; Cook Me Up &#187;, notre restaurant éphémère.
            </p>
            <div class="img">
                <%= image_tag "team.jpg" %>
            </div>
            <p>
                Grâce à &#171; Entreprendre Pour Apprendre &#187;, nous bénéficions de conseils et d’un accompagnement tout au long de notre aventure, en plus de leur soutien.<br/>
                Le lycée hôtelier Alexandre Dumas nous soutien également dans notre démarche en nous permettant d’utiliser ses locaux pour nos regroupements : réunions, essais en cuisine notamment, tout en gardant notre indépendance et une identité bien distincte de celle du lycée. En effet, chacun des étudiants participe à ce projet de manière bénévole et en parallèle des études.<br/>
            </p>
            <p>
                Cette aventure nous permet de participer à la création d’une entreprise et tout ce que cela englobe : gestion du personnel, choix des fournisseurs, définition d’un concept, maîtrise des coûts… mais également un enrichissement personnel et professionnel. De plus, l’aspect caritatif est l’un des points important de l’aboutissement de notre projet : tous nos bénéfices seront reversés à diverses associations caritatives de la région.
            </p>
            <p>
                Un projet unique et enrichissant qui, nous l’espérons, vous donnera envie de nous suivre.
            </p>
        </div>
    </div>
</section>
<section class="-border-bottom">
    <a id="concept" class="anchor"></a>
    <div class="row align -center">
        <div class="col-4 -big-gutter align -right -m-center">
            <div class="img">
                <%= image_tag "logo.png" %>
            </div>
        </div>
        <div class="col-8 -big-gutter">
            <h2 class="title">Le Concept</h2>
            <h4 class="subtitle -img">
                &#171; 1 Produit, 3 Cuissons, 1000 Saveurs &#187;, telle est notre ligne de conduite.
            </h4>
            <p>
                Vous proposer 1000 saveurs à l’aide d’un seul produit, grâce à différents modes de cuissons.
            </p>
            <br/>
            <p>
                Vous pourrez choisir :
                <ul class="styled-list">
                    <li>Votre produit : le boeuf, la gambas ou la volaille</li>
                    <li>Votre cuisson : au wok, en papillote ou au Fusio Eberhardt Frères.</li>
                </ul>
            </p>
            <br/>
            <p>
                Nous vous donnons le pouvoir de choisir votre produit de base, mais également la façon de le cuire.
                Grâce à ce concept, nous créons une expérience culinaire ainsi qu’une expérience personnalisée pour le client.
            </p>
            <br/>
            <p>
                En ce qui concerne les desserts, une association 1 fruit/1 légume sera proposée, afin de rester dans l’idée du mono-produit et des différentes saveurs qu’il peut apporter.
            </p>
            <br/>
            <p>
                Sur le salon, vous pourrez également retrouver notre stand de vente à emporter avec diverses préparations chaudes et froides qu’elles soient sucrées ou salées, mais également notre bar à jus frais préparés par nos soins.
            </p>
        </div>
    </div>
</section>
<section class="-border-bottom">
    <a id="menu" class="anchor"></a>
    <div class="row">
        <h2 class="title align -center">Notre Carte</h2>
        <h3 class="subtitle align -center">Découvrez notre carte en attendant le salon Égast</h3>
        <div class="faded-zone">
            <%= cell(:product, collection: @starters, presentation: true).(:tiny) %>
        </div>
        <div class="align -center">
            <a class="btn" href="<%= static_page_path("menu") %>">notre carte<%= fa_icon "book" %></a>
            <a class="btn -alt" href="<%= static_page_path("menu") %>">nos formules<%= fa_icon "edit" %></a>
        </div>
    </div>
</section>
<section class="-border-bottom">
    <a id="participate" class="anchor"></a>
    <div class="row">
        <h2 class="title align -center">Prenez part à l'aventure</h2>
        <div class="col-6">
            <div class="text text-icon">
                <%= fa_icon "heart" %>
                <h3 class="title -compact">rendez-vous sur kisskissbankbank</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <%= inline_svg "kkbb.svg" %>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="btn" href="#">Nous soutenir <%= fa_icon "child" %></a>
            </div>
        </div>
        <div class="col-6">
            <div class="text-icon">
                <%= fa_icon "facebook" %>
                <h3 class="title -compact">Suivez nous sur notre page facebook</h3>
                <div class="align -m-center">
                    <div class="fb-page" data-href="https://www.facebook.com/StartUpcookmeup/" data-tabs="timeline" data-small-header="false" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/StartUpcookmeup/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/StartUpcookmeup/">Cook Me Up</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <a id="team" class="anchor"></a>
    <div class="row">
        <div class="col-10 -centered">
            <h2 class="title align -center">Nos Équipes</h2>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "area-chart" %>
                        <h3 class="title -compact">Finance</h3>
                        <p>
                            Crowdfunding, budget, coûts… ces notions n’ont plus aucun secret pour eux.
                            Ils sont en charge de la gestion de notre compte en banque, de la vente de nos actions entre autres, mais également de la création de notre site de financement collaboratif!
                        </p>
                        <p>
                            Faites la rencontre d’Armand, notre directeur financier à gauche, et son adjoint Florian.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img -shadow">
                        <%= image_tag "team-money.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "briefcase" %>
                        <h3 class="title -compact">Restaurant</h3>
                        <p>
                            Laissez place à l’équipe du restaurant !<br/>
                            Faites la rencontre de Clément notre directeur restaurant au centre, entouré de son adjointe Marie et Cassandre.
                        </p>
                        <p>
                            Leur objectif ?<br/>
                            Vous proposer une ambiance des plus chaleureuses pour votre expérience dans notre restaurant.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img -shadow">
                        <%= image_tag "team-direction.jpg" %>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-6">
                    <div class="text-icon text -tiny">
                        <%= fa_icon "cutlery" %>
                        <h3 class="title -compact">Cuisine</h3>
                        <p>
                            Ravir les papilles de leurs convives, c’est la mission que s’est donnée l’équipe de cuisine de Cook Me Up.
                            Leur ligne de conduite ? Vous proposer 1000 saveurs, à l’aide d’un seul produit.
                        </p>
                        <p>
                            De gauche à droite, rencontrez : notre Chef de cuisine, Malo ; son Second, Nicolas ainsi que Morgane, Mylène et Axelle.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="img -shadow">
                        <%= image_tag "team-cooking.jpg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="-darker">
    <a id="partners" class="anchor"></a>
    <div class="row align -center">
        <h2 class="title">Nos Partenaires</h2>
        <div class="partners">
            <a class="partner"  target="_blank" href="https://www.eberhardt-pro.fr/">
                <%= image_tag "eberhardt.png" %>
            </a>
            <a class="partner"  target="_blank" href="http://www.ecotel.fr/">
                <%= image_tag "ecotel.png" %>
            </a>
            <a class="partner -tiny"  target="_blank" href="http://www.sapam.fr/">
                <%= image_tag "sapam.png" %>
            </a>
            <a class="partner" target="_blank" href="https://www.vega-direct.com/">
                <%= image_tag "vega.png" %>
            </a>
            <a class="partner"  target="_blank" href="https://www.jobeline.com/">
                <%= image_tag "jobeline.png" %>
            </a>
            <a class="partner"  target="_blank" href="https://www.bragard.com/fr/">
                <%= image_tag "bragard.svg" %>
            </a>
            <a class="partner"  target="_blank" href="http://www.france-boissons.fr/">
                <%= image_tag "france-boissons.png" %>
            </a>
            <a class="partner"  target="_blank" href="http://lycee-hotelier-adumas.fr/">
                <%= image_tag "alexandre-dumas.png" %>
            </a>
            <a class="partner"  target="_blank" href="http://www.supinfo.com/">
                <%= image_tag "supinfo-strasbourg.png" %>
            </a>
            <a class="partner"  target="_blank" href="http://www.panibois.fr/">
                <%= image_tag "panibois.png" %>
            </a>
        </div>
    </div>
</section>
