<nav id="main-menu">
    <div class="row">
        <div class="menu">
            <input class="switch" id="menu-switch" type="checkbox">
            <label class="toggle" for="menu-switch"><%= fa_icon "bars" %></label>
            <a id="logo" href="<%= root_path %>">
                <%= image_tag "logo128.png" %>
                <h1><%= site_name %></h1>
            </a>
            <div id="submenu">
                <%= link_to "Histoire", "#history" %>
                <%= link_to "Concept", "#concept" %>
                <%= link_to "Carte", "#menu" %>
                <%= link_to "Participez", "#participate" %>
                <%= link_to "Équipe", "#team" %>
                <%= link_to "Partenaires", "#partners" %>

                <div id="lang-switcher">
                    <a class="<%= I18n.locale == :fr ? 'active' : '' %>" href="?locale=fr"><%= inline_svg "fr.svg" %></a>
                    <a class="<%= I18n.locale == :en ? 'active' : '' %>" href="?locale=en"><%= inline_svg "gb.svg" %></a>
                </div>
            </div>
        </div>
        <div class="action">
            <% unless nav_active(static_page_path("menu")) %>
                <%= link_to static_page_path("menu"), class: "btn" do %>
                    Click & Sit <%= fa_icon "shopping-bag" %>
                <% end %>
            <% end %>
        </div>
    </div>
</nav>
