<nav id="main-menu">
    <div class="row">
        <div class="menu">
            <input class="switch" id="menu-switch" type="checkbox">
            <label class="toggle" for="menu-switch"><%= fa_icon "bars" %></label>
            <a id="logo" href="<%= admin_root_path %>">
                <%= image_tag "logo128.png" %>
                <h1><%= site_name %></h1>
            </a>
            <div id="submenu">
                <%= link_to I18n.t("admin.order"), admin_orders_path %>
                <%= link_to I18n.t("admin.dish"), admin_dishes_path %>
                <%= link_to I18n.t("admin.dessert"), admin_desserts_path %>
                <%= link_to I18n.t("admin.starter"), admin_starters_path %>
                <%= link_to I18n.t("admin.meal"), admin_meals_path %>
                <%= render "layouts/lang_switcher" %>
            </div>
        </div>
        <div class="action">
            <%= yield(:main_action) %>
        </div>
    </div>
</nav>
