<nav id="main-menu">
    <div class="row">
        <div class="menu">
            <input class="switch" id="menu-switch" type="checkbox">
            <label class="toggle" for="menu-switch"><%= fa_icon "bars" %></label>
            <a id="logo" href="<%= root_path %>">
                <%= image_tag "logo128.png" %>
                <h1><%= site_name %></h1>
            </a>
            <div id="submenu">
                <% if content_for?(:main_nav) %>
                    <%= yield(:main_nav) %>
                <% else %>
                    <%= link_to I18n.t("page.history"), root_path + "#history" %>
                    <%= link_to I18n.t("page.concept"), root_path + "#concept" %>
                    <%= link_to I18n.t("page.menu"), root_path + "#menu" %>
                    <%= link_to I18n.t("page.support"), root_path + "#participate" %>
                    <%= link_to I18n.t("page.team"), root_path + "#team" %>
                    <%= link_to I18n.t("page.partner"), root_path + "#partners" %>
                    <%= link_to I18n.t("app_name"), order_access_path %>
                <% end %>
                <%= render "layouts/lang_switcher" %>
            </div>
        </div>
        <div class="action">
            <%= yield(:main_action) %>
        </div>
    </div>
</nav>
