<nav id="main-menu">
    <div class="row">
        <div class="menu">
            <input class="switch" id="menu-switch" type="checkbox">
            <label class="toggle" for="menu-switch"><%= fa_icon "bars" %></label>
            <a id="logo" href="<%= root_path %>">
                <%= image_tag "logo128.png" %>
                <h1><%= site_name %></h1>
            </a>
            <div id="submenu">
                <%= yield(:main_nav) %>

                <div id="lang-switcher">
                    <a class="<%= I18n.locale == :fr ? 'active' : '' %>" href="?locale=fr"><%= inline_svg "fr.svg" %></a>
                    <a class="<%= I18n.locale == :en ? 'active' : '' %>" href="?locale=en"><%= inline_svg "gb.svg" %></a>
                </div>
            </div>
        </div>
        <div class="action">
            <%= yield(:main_action) %>
        </div>
    </div>
</nav>
