<nav id="main-menu">
    <div class="row">
        <div class="menu">
            <input class="switch" id="menu-switch" type="checkbox">
            <label class="toggle" for="menu-switch"><%= fa_icon "bars" %></label>
            <a id="logo" href="<%= root_path %>">
                <%= image_tag "logo128.png" %>
                <h1><%= site_name %></h1>
            </a>
            <div id="submenu">
                <% if content_for?(:main_nav) %>
                    <%= yield(:main_nav) %>
                <% else %>
                    <%= link_to "Histoire", root_path + "#history" %>
                    <%= link_to "Concept", root_path + "#concept" %>
                    <%= link_to "Carte", root_path + "#menu" %>
                    <%= link_to "Participez", root_path + "#participate" %>
                    <%= link_to "Équipe", root_path + "#team" %>
                    <%= link_to "Partenaires", root_path + "#partners" %>
                <% end %>
            </div>
        </div>
        <div class="action">
            <%= yield(:main_action) %>
        </div>
    </div>
</nav>
