<section>
    <div class="row">
        <div class="col-12">
            <h1>Ajouter un Plat:</h1>

            <%= form_for :dish, :url => admin_dishes_path, :action => 'put' do |form| %>

                <p>
                    <%= form.label :name_translations_fr %><br>
                        <%= form.text_field :name_translations_fr, :value => @dish.name_translations["fr"]%>
                </p>
                <p>
                    <%= form.label :name_translations_en %><br>
                        <%= form.text_field :name_translations_en, :value => @dish.name_translations["en"]%>
                </p>
                <p>
                    <%= form.label :description_translations_fr %><br>
                        <%= form.text_field :description_translations_fr, :value => @dish.description_translations["fr"] %>
                </p>
                <p>
                    <%= form.label :description_translations_en %><br>
                        <%= form.text_field :description_translations_en, :value => @dish.description_translations["en"] %>
                </p>
                <p>
                    <%= form.label :ask_roasting %><br>
                        <%= form.text_field :ask_roasting %>
                </p>
                <p>
                    <%= form.label :price %><br>
                        <%= form.text_field :price %>
                </p>
                <p>
                    <%= form.label :img_url %><br>
                        <%= form.text_field :img_url %>
                </p>

                <p>
                    <%= form.submit %>
                </p>
                <% end %>
        </div>
    </div>
</section>