<section>
    <div class="row">
        <div class="col-12">
            <h1>Plats :</h1>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Choisir cuisson</th>
                    <th>Prix</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>

                <% @dishes.each do |dish| %>
                    <tr>
                        <td>
                            <%= dish.name_fr %>
                        </td>
                        <td>
                            <%= dish.description_fr %>
                        </td>
                        <td>
                            <%= dish.ask_roasting %>
                        </td>
                        <td>
                            <%= number_to_currency(dish.price, locale: :fr) %>
                        </td>
                        <td>
                            <img src="<%= dish.img_url %>" alt="">
                        </td>
                        <td>

                            <a href="/admin/dishes/<%= dish.id %>/edit">Edit</a>
                            <a href="/admin/dishes/<%= dish.id %>" data-method="delete" rel="nofollow">delete</a>
                        </td>
                    </tr>
                    <% end %>
            </table>
            <br>
            <a href="/admin/dishes/new">Ajouter un plat</a>

        </div>
    </div>
</section>